///* ========================================================================
//   #FORM
//   ======================================================================== */

.form {

	&__row {
		display: flex;
	}

	&-field {

		label {
			display: block;
			text-transform: capitalize;
			font-weight: bold;
			margin-bottom: .5rem;
		}

		input {
			display: block;
			padding: .25rem;
			margin-bottom: 1rem;
			width: 50%;

			&.is--info {
				border-color: $c-cyan;
			}

			&.is--success {
				border-color: $c-lime;
			}

			&.is--error {
				border-color: $c-red;
			}

			&.is--warning {
				border-color: $c-orange;
			}

			&:focus {
				border-color: $c-primary;
			}
		}

		textarea {
			display: block;
			width: 100%;
			min-height: 125px;
			padding: .25rem;
			margin-bottom: 1rem;

			&.is--info {
				border-color: $c-cyan;
			}

			&.is--success {
				border-color: $c-lime;
			}

			&.is--error {
				border-color: $c-red;
			}

			&.is--warning {
				border-color: $c-orange;
			}

			&:focus {
				border-color: $c-primary;
			}

		}
	}
}

.form__checks {
	display: flex;
}